@tailwind base;
@tailwind components;
@tailwind utilities;

/* import harper-bold from './assets/fonts/Harper-Bold.woff2'; */

@font-face {
    font-family: 'Harper-Bold';
    src: url('/harper/Harper-Bold Personal Use.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

#harper-bold {
    font-family: 'Harper-Bold', sans-serif;
}


/* body {
    background-color: #FFFAF5;
} */